@import "https://unpkg.com/swagger-ui-dist@5.9.0/swagger-ui.css";


.swagger-ui .info .title {
    font-size: 56px;
}

.swagger-ui .info li,
.swagger-ui .info p,
.swagger-ui .info table {
    font-size: 16px;
    line-height: 1.4;
}

.swagger-ui h2 {
    font-size: 20px;
    margin-top: 24px;
    margin-bottom: 4px;
}

.swagger-ui section h3 {
    font-size: 16px;
    margin-top: 24px;
    margin-bottom: 4px;
}

.swagger-ui .opblock-description-wrapper p,
.swagger-ui .opblock-external-docs-wrapper p,
.swagger-ui .opblock-title_normal p,
.swagger-ui li {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 0;
}

.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code {
    font-size: 12px;
}

.swagger-ui .wrapper {
    max-width: 769px;
}

.response-col_links {
    display: none;
}
